.caption-field {
  width: 100%;
  min-height: 100px;
}

img {
  width: 100%;
}

.button {
  background: #82b1ff;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  color: white;
  box-shadow: 0 3px 5px 0 rgba(20, 20, 20, 0.5);
  margin: 8px 0;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 2px 3px 0 rgba(20, 20, 20, 0.5);
}

.button:disabled {
  color: #b5b5b5;
  background-color: #e5e5e5;
  box-shadow: none;
}
