body {
  background-color: #f5adad;
}

.layout-container {
  flex: 1;
  display: flex;
  margin: 0 auto;
  max-width: 670px;
  min-width: 670px;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  background: white;
  padding: 1.3125rem;
  position: relative;
}

.content-container .header {
  color: #f5adad;
  margin-bottom: 8px;
  margin-top: 0;
}

.content-container .sub-header {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 32px;
}
