.post-item-container {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 8px 0 rgba(20, 20, 20, 0.4);
}

.caption {
  margin: 16px;
  font-size: 18px;
  white-space: pre-line;
}

img {
  width: 100%;
}

.post-button {
  background: #82b1ff;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  color: white;
  box-shadow: 0 3px 5px 0 rgba(20, 20, 20, 0.5);
  margin: 8px 0;
  cursor: pointer;
  margin: 0 8px;
}

